<?xml version="1.0" encoding="UTF-8"?>
<project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"
	xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>org.sourcepit</groupId>
		<artifactId>srcpit-parent</artifactId>
		<version>4</version>
	</parent>

	<groupId>org.sourcepit</groupId>
	<artifactId>b2eclipse</artifactId>
	<version>0.1.0-SNAPSHOT</version>
	<packaging>pom</packaging>

	<properties>
		<tycho.version>0.18.1</tycho.version>
		<b2.version>0.1.0-alpha-9</b2.version>
		<b2.facets.core.requiredFeatures>
			org.eclipse.platform,
			org.eclipse.m2e.feature
		</b2.facets.core.requiredFeatures>
		<b2.facets.core.requiredPlugins>
			org.eclipse.ui.views.log
		</b2.facets.core.requiredPlugins>
		<b2.facets.core.requiredSourceFeatures>
			org.eclipse.platform.source,
			org.eclipse.m2e.sdk.feature
		</b2.facets.core.requiredSourceFeatures>
		<b2.facets.git.requiredFeatures>
			org.eclipse.egit
		</b2.facets.git.requiredFeatures>
		<b2.facets.git.requiredSourceFeatures>
			org.eclipse.egit.source
		</b2.facets.git.requiredSourceFeatures>
		<b2.facets.svn.requiredFeatures>
			org.eclipse.team.svn,
			org.polarion.eclipse.team.svn.connector,
			org.polarion.eclipse.team.svn.connector.svnkit17
		</b2.facets.svn.requiredFeatures>
		<b2.facets.svn.requiredSourceFeatures>
			org.eclipse.team.svn.source,
			org.polarion.eclipse.team.svn.connector.source
		</b2.facets.svn.requiredSourceFeatures>
	</properties>

	<repositories>
		<repository>
			<!-- repo to resolve parent pom from -->
			<id>srcpit-public</id>
			<url>http://nexus.sourcepit.org/content/groups/public/</url>
		</repository>
		<repository>
			<id>kepler</id>
			<url>http://download.eclipse.org/releases/kepler</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>egit</id>
			<url>http://download.eclipse.org/egit/updates</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>m2e</id>
			<url>http://download.eclipse.org/technology/m2e/releases</url>
			<layout>p2</layout>
		</repository>
		<repository>
			<id>subversive</id>
			<url>http://community.polarion.com/projects/subversive/download/eclipse/3.0/kepler-site/</url>
			<layout>p2</layout>
		</repository>
	</repositories>

	<pluginRepositories>
		<pluginRepository>
			<id>srcpit-public</id>
			<url>${srcpit.nexus.url}/content/groups/public/</url>
		</pluginRepository>
	</pluginRepositories>

	<dependencies>
		<dependency>
			<groupId>org.sourcepit.common</groupId>
			<artifactId>common-utils</artifactId>
			<version>0.1.0-alpha-8</version>
		</dependency>
		<dependency>
			<groupId>com.google.guava</groupId>
			<artifactId>guava</artifactId>
			<version>14.0.1</version>
		</dependency>
	</dependencies>

	<build>
		<pluginManagement>
			<plugins>
				<plugin>
					<groupId>org.eclipse.tycho</groupId>
					<artifactId>tycho-surefire-plugin</artifactId>
					<version>${tycho.version}</version>
					<configuration>
						<useUIHarness>true</useUIHarness>
						<useUIThread>false</useUIThread>
						<argLine>-Xms64m -Xmx128m</argLine>
						<testFailureIgnore></testFailureIgnore>
					</configuration>
				</plugin>
			</plugins>
		</pluginManagement>
		<plugins>
			<plugin>
				<groupId>org.sourcepit.b2</groupId>
				<artifactId>b2-maven-plugin</artifactId>
				<version>${b2.version}</version>
				<extensions>true</extensions>
				<configuration>
					<extensions>
						<extension>
							<groupId>org.sourcepit.b2</groupId>
							<artifactId>b2-maven-dependencies-site-generator</artifactId>
							<version>${b2.version}</version>
						</extension>
					</extensions>
				</configuration>
			</plugin>
			<plugin>
				<groupId>org.eclipse.tycho</groupId>
				<artifactId>target-platform-configuration</artifactId>
				<version>${tycho.version}</version>
				<configuration>
					<resolver>p2</resolver>
					<dependency-resolution>
						<extraRequirements>
							<requirement>
								<id>org.eclipse.platform</id>
								<versionRange>0.0.0</versionRange>
								<type>eclipse-feature</type>
							</requirement>
							<requirement>
								<id>org.eclipse.egit</id>
								<versionRange>0.0.0</versionRange>
								<type>eclipse-feature</type>
							</requirement>
							<requirement>
								<id>org.eclipse.team.svn</id>
								<versionRange>0.0.0</versionRange>
								<type>eclipse-feature</type>
							</requirement>
							<requirement>
								<id>org.eclipse.team.svn.source</id>
								<versionRange>0.0.0</versionRange>
								<type>eclipse-feature</type>
							</requirement>
							<requirement>
								<id>org.polarion.eclipse.team.svn.connector</id>
								<versionRange>0.0.0</versionRange>
								<type>eclipse-feature</type>
							</requirement>
							<requirement>
								<id>org.polarion.eclipse.team.svn.connector.svnkit17</id>
								<versionRange>0.0.0</versionRange>
								<type>eclipse-feature</type>
							</requirement>
						</extraRequirements>
					</dependency-resolution>
					<environments>
						<environment>
							<os>win32</os>
							<ws>win32</ws>
							<arch>x86</arch>
						</environment>
						<environment>
							<os>win32</os>
							<ws>win32</ws>
							<arch>x86_64</arch>
						</environment>
						<environment>
							<os>linux</os>
							<ws>gtk</ws>
							<arch>x86</arch>
						</environment>
						<environment>
							<os>linux</os>
							<ws>gtk</ws>
							<arch>x86_64</arch>
						</environment>
					</environments>
				</configuration>
			</plugin>
		</plugins>
	</build>

</project>
