<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.sourcepit.b2eclipse.ui.B2Wizard"
            icon="icons/b2.gif"
            id="org.sourcepit.b2eclipse.ImportWizard"
            name="Check out b2 Project/s...">
      </wizard>
   </extension>
</plugin>
