<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.sourcepit.b2eclipse.ui.B2Wizard"
            icon="src/org/sourcepit/b2eclipse/ui/activity_act_003.gif"
            id="ImportWizard"
            name="Import Modules">
      </wizard>
   </extension>
   <extension
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.sourcepit.b2eclipse.SVNcheckout"
            objectClass="org.eclipse.team.svn.ui.repository.model.RepositoryFolder">
         <action
                  class="org.sourcepit.b2eclipse.checkout.B2SVNCheckout"
                  menubarPath="checkoutGroup"
                  id="SVNcheckoutAction"
               label="Check out as b2 Project...">
         </action>         
      </objectContribution>
            </extension>
            <extension point="org.eclipse.ui.commands">
        <command
            defaultHandler="org.sourcepit.b2eclipse.checkout.B2GitCheckout"
            id="org.sourcepit.b2eclipse.ui.B2Wizard">
      </command>
</extension>
             <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:org.eclipse.egit.ui.RepositoriesView">
        <command
               commandId="org.sourcepit.b2eclipse.ui.B2Wizard"
               icon="icons/obj16/import_prj.gif"
               label="Check out as b2 Project..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.eclipse.egit.ui.internal.repository.tree.RepositoryNode">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.egit.ui.internal.repository.tree.WorkingDirNode">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.egit.ui.internal.repository.tree.FolderNode">
                        </instanceof>
                        <instanceof
                                 value="org.eclipse.egit.ui.internal.repository.tree.TagNode">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.egit.ui.internal.repository.tree.RefNode">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.egit.ui.internal.repository.tree.AdditionalRefNode">
                           </instanceof>
                     </or>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         </menuContribution>
         </extension>
</plugin>
