<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.sourcepit.b2eclipse.ui.B2Wizard"
            icon="src/org/sourcepit/b2eclipse/ui/activity_act_003.gif"
            id="ImportWizard"
            name="Import Modules">
      </wizard>
   </extension>
   <extension
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.sourcepit.b2eclipse.SVNcheckout"
            objectClass="org.eclipse.team.svn.ui.repository.model.RepositoryFolder">
         <action
                  class="org.sourcepit.b2eclipse.action.B2SVNCheckout"
                  menubarPath="checkoutGroup"
                  id="SVNcheckoutAction"
               label="Check out as b2 Project...">
         </action>         
      </objectContribution>
            </extension>
</plugin>
